input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.imgUrl {
    display: inline-block !important;
    margin-left: 2% !important;

    width: 152px !important;
}
.formNewLot {
    width: 30%;
    margin-left: 35%;
}
.buttonCreateLot {
    width: 100% !important;
}
