.ui.medium.image {
    height: 152px !important;
    width: 152px !important;
    margin-left: 12% !important;
    margin-top: 2% !important;
}
.ui.form {
    margin-left: 35% !important;
}
.buttonSave {
    margin-left: 48% !important;
}