.Carousel {
    margin: 0 20px;
    width: 25%;
    display: inline-block;
}

.NameLot {
    margin: 2% 0 !important;
    font-size: 3em !important;
}
.ui.statistic {
    display: block !important;
}
.bid {
    margin-left: 37%;
}
.buttonEditLot {
    margin-left: 90% !important;
}