.Carousel {
    margin: 0 20px 0 10px;
    width: 40%;
    display: inline-block;
}

.NameLot {
    margin: 2% 0 !important;
    font-size: 3em !important;
}
.ui.statistic {
    display: block !important;
}
.bid {
    margin-left: 37%;
}
.buttonEditLot {
    width: 100% !important;
}
.buttonDeleteLot {
    width: 100% !important;
}

.disabled-link {
    pointer-events: none;
}

.ui.small.modal.transition.visible.active {
    display: inline-block !important;
    margin-top: 200px !important;
}
.ui.items.Lot {
    margin-left: 0px !important;
}
.ChangeLotButton {
    margin: 0 auto !important;
    width: 100% !important;
    padding-right: 5% !important;
}
.ui.negative.message {
    position: absolute !important;
    top: -30px;
    right: 100px;
}