input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.createLot {
    margin-left: 35% !important;
}

.formNewLot {
    width: 30%;
    margin-left: 35%;
}
.buttonCreateLot {
    margin-top: 1% !important;
    margin-left: 35% !important;
    margin-bottom: 2% !important;
    width: 30% !important;
}
